@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    user-select: none;
}

:root {
    --header-size: 28px;
    --header-staff-size: 24px;
    --paragraph-size: 24px;
    --paragraph-staff-size: 20px;
    --button-size: 20px;

    --error-animation: errorAnimation 2s ease 0s 1;
}

body {
    margin: 25px 0;
    font-family: 'Montserrat';

    background-image: url("../img/global-bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.returnToMain {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: white;
    color: #000;
    border: 1px solid lightgray;
    border-left: none;
    border-top: none;
    font-weight: 600;
    width: 125px;
    height: 35px;
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    transition: .5s ease-in-out;
}

    .globalWrapper {
        margin: 0 auto;
        padding: 35px 25px;
        background: white;
        border: 1px solid #000;
    }

        .logo {
            width: 50px;
            height: 50px;
            margin-right: 15px;
        }

        img {
            pointer-events: none;
        }

        h2 {
            font-size: var(--header-size);
        }

        input,
        p {
            font-size: var(--paragraph-size);
        }

        input {
            padding: 5px 10px;
            font-weight: 300;
        }

        button,
        input[type="submit"] {
            background: white;
            padding: 10px 15px;
            font-size: var(--button-size);
            border: 1px solid #000;

            transition: .15s ease;
        }

        button:hover,
        input[type="submit"]:hover {
            background: orange;
        }

        .melinaWrapper {
            margin: 0 auto;

            border: 1px solid #000;
            width: 650px;
            height: 400px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 25px 40px;
            background-image: url('../img/radahn-consort.gif');
            background-size: cover;
        }

            .melina {
                width: 300px;
                height: 350px;
                border: 1px solid #000;
            }

            .melinaMsg {
                text-align: center;

                width: 225px;
                font-size: 28px;

                background: white;
                padding: 10px;
                border: 1px solid #000;
            }